.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  font-family: 'Markazi Text', serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  overflow-x: hidden; /* Añade esta línea */
}

footer {
  width: 100%;
}


.headerNav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}


.navStyle{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navStyle ul{
  list-style-type: none;
  display:flex;
  padding-left: 20;
}


.navStyle ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 20px;
}

.logo{
  margin-top: 16px;
  margin-left: 280px;
  margin-bottom: 10px;
  margin-right: 10px;
  flex: 1;
}


.heroSection{
  display:flex;
  justify-content: space-between;
  margin-bottom: 60px;
  background-color: #495E57;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.heroSection h1{
  margin: 0px;
  color: #F4CE14;
  font-size: 64px;
  font-weight: 500;
}

.heroSection h2{
  margin: 0px;
  font-size: 40px;
  margin-bottom: 20px;
}

.heroSection p{
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  max-width: 400px;
}

.heroSection button{
  width: 200px;
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 16px;
}

.heroSectionContainer{
  flex: 2;
  color:white;
  margin-left: 280px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroImage{
  flex: 1;
  margin-right: 280px;
}

#heroSectionImage{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  border-radius: 16px;
}

#Highlights{
  margin-left: 280px;
  margin-right: 280px;
}

.specialsContainer{
  margin: 0px;
  display:flex;
  justify-content: space-between;
}

.specialsContainer h2{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  padding: 10px 0px;
  margin: 0px;
}

.specialsContainer button{
  width: 200px;
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 16px;
}

.specialsContainer button:hover{
  background-color: #F4CE14;
  color: #282c34;
  font-weight: bold;
}

.highlightContainer{
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 100px;
}

.highlight{
  display:flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  background-color: #EDEFEE;
  margin-right: 20px;
  border-radius: 16px;
}

.orderDelivery{
  margin-top: auto;
  cursor: pointer;
}

.highlight h3, .highlight p{
  padding: 10px 0px;
  margin: 0px 16px;
}

.highlight p {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

.highlight > p:last-child{
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
}

.highlight:last-child {
  margin-right: 0;
}

.dishContainer{
  margin-right: 16px;
  display:flex;
  justify-content: space-between;
}

.dishContainer p{
  color: #EE9972;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

.dishContainer h3{
  font-size: 24px;
  font-weight: 500;
}

.dishImg{
  width: 100%;
  height: 200px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.Testimonials{
  background-color: #495E57;
  margin-bottom: 40px;
  width: 100%;
}

.Testimonials h2{
  padding: 30px 0px;
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.testimonialContainer{
  display:flex;
  justify-content: space-between;
  margin-left: 280px;
  margin-right: 280px;
  margin-top: 20px;
}

.testimonial{
  flex: 1;
  justify-content: space-between;
  background-color: #EDEFEE;
  margin-right: 12px;
  border-radius: 16px;
  margin-bottom: 50px;
}

.testimonial p:nth-child(3){
  font-weight: bold;
}

.testimonial h3, .testimonial p{
  padding: 10px 0px;
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
  font-size: 16px;
  margin: 8px 16px;
}

.testimonial:last-child {
  margin-right: 0;
}

.testimonialImg{
  width: 100%;
  height: 200px;
}

#About{
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}

.aboutContainer{
  margin-left: 280px;
  margin-top: 200px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 280px;
  flex: 4;
}

.imageContainer{
  display:flex;
}

.aboutImage{
  width: 200px;
  height: 200px;
  border-radius: 16px;

}

.overlayImage{
  width: 200px;
  height: 200px;
  border-radius: 16px;
  background-color: #495E57;
  margin-left: -50px; /* Añade esta línea */
  margin-top: -100px;
}

.aboutText{
  margin-top: -200px;
  margin-right: 20px;
}

.aboutText h1{
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 64px;
}

.aboutText h2{
  font-size: 40px;
  margin: 0;
}

.aboutText p{
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
  margin-right: 10px;
  max-width: 400px;
}


.FooterNav{
  width: 100%;
  background-color: #282c34;
  color: white;
  padding-bottom: 40px;
}

.footerContainer{
  display:flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
  color: white;

}

.FooterNav li{
  list-style-type: none;
  display:flex;
  flex: 1;
  flex-grow: 4;
  font-size: 20px;
}

.contact li{
  margin-bottom: 20px;
  margin-right: 20px;
}

.FooterNav li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}


.logoFooter{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 70px;
  flex: 1;
}

.footer-links h2, .contact h2, .social-media-links h2{
  color:#75958a;
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.footer-links p, .contact p, .social-media-links p{
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.footerContainer a{
  margin-bottom: 10px;
}

.footer-logo p:nth-child(3){
  margin-top: 40px;
}

.footer-logo{
  margin-right: 20px;
}

.menu {
  display: none;
  list-style: none;
  transition: max-height 0.2s ease-out;
}

.menu.open {
  display: block;
}

.hamburger {
  display: none;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #F4CE14;
}

.fieldSet{
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #495E57;
  border-radius: 16px;
}

.field{
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  border: none;
  background-color: #EDEFEE;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

.field label{
  margin-right: 10px;
}

.fieldSet button{
  margin: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: bold;
}

.fieldSet button:hover{
  background-color: #F4CE14;
  color: #282c34;
  font-weight: bold;
}

.fieldSet button:disabled{
  background-color: grey;
  color: #EDEFEE;
  font-weight: bold;
}

.heroSectionContainer p{
  font-size: 20px;
}

.heroSectionContainer button:hover{
  background-color: #F4CE14;
  color: #282c34;
  font-weight: bold;

}

input[type="date"]{
  padding: 10px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

select{
  padding: 10px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

option{
  font-size: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

input[type="number"]{
  width: 180px;
  padding: 10px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

.confirmedBookingContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #F4CE14;
  font-family: "Markazi Text", sans-serif;
  font-size: 40px;
}

.confirmedBookingContainer p{
  font-size: 30px;
}


@media screen and (max-width: 1236px) {

  .logo{
    margin-left: 40px;
  }

  .navStyle{
    margin-right: 60px;
  }

  .aboutContainer{
    margin-left: 40px;
    margin-right: 60px;
  }

  .heroImage{
    margin-right: 40px;
  }

  .testimonialContainer{
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 60px;
  }

  #Highlights{
    margin-left: 40px;
    margin-right: 60px;
  }

  .heroSectionContainer{
    margin-left: 40px;
    margin-right: 40px;
  }

  .footerContainer{
    margin-left: 40px;
    margin-right: 60px;
  }

  #heroSectionImage{
    margin-right: 60px;
  }

  .confirmedBookingContainer h1, .confirmedBookingContainer p{
    margin-left: 20px;
  }
}

@media (max-width: 769px) {

  .heroSectionContainer button:hover{
    background-color: #282c34;
    color: #F4CE14;
    font-weight: bold;
  }


  .headerStyle{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .heroSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-right: 60px;
  }

  .heroImage{
    margin-left: 40px;
    margin-right: 40px;
  }

  #heroSectionImage{
    flex: 1;
    border-radius: 16px;
  }

  .heroSection h1{
    margin-top: 20px;
    font-size: 40px;
  }

  .heroSection h2{
    font-size: 24px;
  }

  .heroSectionContainer{
    display: flex;
    flex-direction: column;
  }

  .heroSectionContainer button{
    width: 100%;
    background-color: #F4CE14;
    color: black;
    font-weight: bold;
  }

  #Highlights{
    margin-left: 40px;
    margin-right: 40px;
  }

  .highlightContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .highlight{
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
  }

  .testimonialContainer{
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 40px;
  }

  .aboutContainer{
    margin-top: 60px;
  }

  .aboutImage{
    display: none;
  }

  .aboutText h1{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 40px;
  }

  .aboutText h2{
    font-size: 24px;
  }

  .aboutText{
    margin-top: 0;
  }

  .specialsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .overlayImage{
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .testimonial{
    height: 200px;
  }

  .footerContainer{
    flex-direction: column;
  }

  .footer-logo{
    order: 4;
  }

  .headerNav{
    display: flex;
    position: relative;
  }

  .navStyle{
    display: flex;
    justify-content: space-between;
  }

  .menu {
    position: absolute;
    left: 0;
    width: 100%;
    top: 70%;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #F4CE14;
    border-radius: 16px;
  }

  .menu.open li{
    border-bottom: 1px solid #495E57;
    border-radius: 16px;
  }

  .menu.open a{
    cursor: pointer;
    display: block;
    padding: 40px 40px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: bolder;
  }

  .menu.open {
    max-height: 700px; /* Ajusta este valor según el tamaño de tu menú */
  }

  .hamburger {
    display: block;
    cursor: pointer;
    border: none;
    background: none;
  }

}

@media (min-width: 768px) {
  .menu {
    flex-direction: row; /* Esto hará que el menú sea horizontal en pantallas grandes */
  }
}